html { 
  background-color:#03051c;
  background-size:cover;
}


.imgborder {
  border:2px solid blue;
  position:relative;
  left:14px;
}



body {
  color: white;
  background: none;
  font-family: "windowsreg", Verdana;
}

.maindivpage {
  width: 900px;
  position: relative;
  display: block;
  margin-left:auto;
  margin-right:auto;
  background-image:url('background2.gif');
  left:calc(-35% + -5px);
}

main {
  position: relative;
  margin-left: 13px;
  margin-right:13px;
}
.blogpost {
  position:relative;
  left: 13px;
  width:830px;
}

.footer-container {
  border-style:none;
}

.vcrTITLE {
  font-family:"vcr-mono", Verdana;
  font-weight:normal;
  font-style:italic;
  text-shadow: -1px 1px 0 #000000,
    1px 1px 0 #000000,
		1px -1px 0 #000000,
    -1px -1px 0 #000000;
}

.updateTEXT {
  font-size:14px;
  margin-right:20px
}

@font-face {
  font-family:"vcr-mono";
  src: url("/fonts/VCR_OSD_MONO.ttf");
}

p {
  font-family:"windowsreg";
  position:relative;
  left: 12px;
  font-size:20px;
}
@font-face {
  font-family:"windowsreg";
  src: url("/fonts/Windows-Regular.ttf");
}



a:link {
  color: #a5cddf;
} 

a:visited {
  color: #1e81b0;
}

a:hover {
  color: white;
}