@font-face {font-family:"windowsreg";src: url("/fonts/Windows-Regular.ttf");}
 .nowplayingcard {
  font-family: "windowsreg";
  font-size: 13px;
}
.lastfmborder {
  border:1px solid #d51007;
  width: 360px;
  height:145px;
}
#trackartist {
  font-weight:normal;
  color:grey;
  font-size:12px;
}

.trackInfo {
  position:relative;
  left:10px;
  top:5px;
}


 .nowplayingcard .nowplayingcontainer-inner #trackart {
  float: left;
  left: 0;
  height:120px;
}

@-moz-document {
    #trackart {
        height: 117px;
    }
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo {
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo a {
  font-size: 14px;
  text-align: left;
  vertical-align:top;
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) {
  color: black;
  font-weight: bold;
  vertical-align: middle;
  line-height: 15px;
  letter-spacing: 0.2px;
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) img {
  margin: -2% 3px 0 0;
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) {
  color: gray;
  font-size: 12px;
  letter-spacing: 0.1px;
}
 .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) img {
  width: 15px;
  vertical-align: middle;
}