body {
  background: url("/background2.gif") center center repeat;
  font-family:"windows";
  color: white;
  font-size:20px;
}

@font-face {
  font-family:"windows";
  src: url("/fonts/Windows-Regular.ttf")
}

a:link {
  color:lightblue;
}

a:visited {
  color:lightblue;
}

a:hover {
  color:white;
}